<template>
	<main class="comics">
		<input class="search" type="text" maxlength="255" :placeholder="$t('comics.entry.search')" />
		<search-settings class="search-settings" v-if="showSearch" />
		<router-view />
	</main>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import { debounce, Cancelable } from 'lodash';

import SearchSettings from '@/components/comics/entry/search-settings.vue';
import { Route } from 'vue-router';

@Component({ components: { SearchSettings } })
export default class Comics extends Vue {

  private requiredGenres = new Set<number>();
  private ignoredGenres  = new Set<number>();

  private launchSearch = debounce(this.search, 350);
  private showSearch   = true;

  // callback from search
  protected async OnAddRequiredGenre(genreId: number) {
    this.requiredGenres.add(genreId);
    this.ignoredGenres.delete(genreId);

    this.launchSearch();
  }

  // callback from search
  protected async OnAddIgnoredGenre(genreId: number) {
    this.ignoredGenres.add(genreId);
    this.requiredGenres.delete(genreId);

    this.launchSearch();
  }

  // callback from search
  protected async OnRemovedGenre(genreId: number) {
    this.ignoredGenres.delete(genreId);
    this.requiredGenres.delete(genreId);

    this.launchSearch();
  }

  @Watch('$route')
  private async OnBack(newRoute: Route, oldRoute: Route) {
    if ('comicsHome' === newRoute.name) {
      this.requiredGenres.clear();
      this.ignoredGenres.clear();
    }
  }

  private async search() {
    this.$router.push({
      name: 'comicsSearch',
      query: {
        ignoredGenres: JSON.stringify([ ...this.ignoredGenres ]),
        requiredGenres: JSON.stringify([ ...this.requiredGenres ]),
      },
    });
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.comics {
	display: grid;
	grid: min-content min-content 1fr / 1fr;
	gap: 1.4rem;

	.search {
		border: none;
		outline: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		background: none;

		// firefox crutch
		line-height: 1 !important;

		padding-top: 1.4rem;

		text-align: center;
		font: 300 2.8rem 'Yanone Kaffeesatz';

		color: $defaultTextColor;

		border-bottom: 1px dashed transparent;
		transition: border-color $animationShortTime $animationFunction;

		&:focus,
		&:hover {
			border-color: $comicsSearchBorderColor;
			transition: border-color $animationVeryShortTime $animationFunction;
		}
	}
}
// https://youtu.be/XLz2SJ1xl6w
</style>
