<template>
<main class="item">
  <section class="info">
    <img class="cover" :src="info.cover" />
    <div class="desc">
      <div class="title">Название</div>
      <div class="body">{{ info.name }}</div>

      <div class="title">Автор</div>
      <div class="body">undefined</div>

      <div class="title">Художник</div>
      <div class="body">undefined</div>

      <div class="title">Объём</div>
      <div class="body">3 тома • 228 глав</div>

      <div class="title">Тип</div>
      <div class="body">Манга</div>

      <div class="title">Издавалась</div>
      <div class="body">{{ info.published.start }} — {{ info.published.end }}</div>

      <div class="title">Описание</div>
      <div class="body">During a meteor shower, a magical Faerie appears in a dark alley. Lemon, the Fae Knight has come to the human world to complete his final knighthood test. Alongside him is his human companion, Mira, who dreams of being a Black Mage. Will Lemon be able to complete his test in time? Find out in this whimsical romantic comedy!</div>
    </div>
  </section>
  <hiding-box class="critique" :title="'Рецензии'">
    Здесь должны быть рецензии
  </hiding-box>
  <hiding-box class="comments" :title="'Комментарии'">
    <post v-for="comment of this.comments" :key="comment.id" v-bind="{ post: comment }"/>
  </hiding-box>
  <hiding-box class="translate-discussion" :title="'Обсуждение перевода'">
    <post v-for="dot of this.dot" :key="dot.id" v-bind="{ post: dot }"/>
  </hiding-box>
</main>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { fromUnixTime, format } from 'date-fns';
import { ru } from 'date-fns/locale';

import post from '@/components/comics/item/discussion/post.vue';
import HidingBox from '@/components/comics/item/hiding-box.vue';
import { IRawPost } from '@/components/comics/item/discussion/post';

interface RawInfo {
  id: number;
  cover: string;
  name: string;
  published: {
    start: number
    end: number,
  };
}

interface Info {
  id: number;
  cover: string;
  name: string;
  published: {
    start: string
    end: string,
  };
}

@Component({ components: { post, HidingBox }})
export default class Page extends Vue {
  private comments: IRawPost[] = [];
  private dot: IRawPost[] = [];
  private info: Info = {
    id: 0,
    cover: '',
    name: '',
    published: {
      start: '',
      end: '',
    },
  };

  public async mounted() {
    this.$http.get<RawInfo>('comics/item/info', { params: { id: this.$route.params.id } })
      .then(({ data: info }) => {
        this.info = {
          id: info.id,
          cover: info.cover,
          name: info.name,
          published: {
            start:
              info.published.start !== 0
              ? format(fromUnixTime(info.published.start), 'dd MMM yyyy', { locale: ru })
              : '???',
            end:
              info.published.end !== 0
              ? format(fromUnixTime(info.published.end), 'dd MMM yyyy', { locale: ru })
              : '???',
          },
        };
      });

    this.$http.get<IRawPost[]>('comics/item/comments').then(({ data: comments }) => {
      this.comments = comments;
    });
    this.$http.get<IRawPost[]>('comics/item/discussion_of_translation').then(({ data: dot }) => {
      this.dot = dot;
    });
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.item {
	display: grid;
  grid: min-content min-content 1fr / 20rem 1fr;
  row-gap: 1rem;

	font: 400 1rem 'Fira Sans Condensed';
	align-content: start;

  .critique {
    grid-row: 1;
    grid-column: 2;
  }

	.comments-wrapper {
    grid-row: 2;
    grid-column: 2;
  }

  .translate-discussion {
    grid-row: 3;
    grid-column: 2;
  }


    .info {
      z-index: 2;
      grid-row: -1 / 1;

      display: grid;
      grid: min-content min-content / 20rem;
      justify-content: start;
      justify-items: start;
      align-content: start;
      align-items: start;

      background-color: $blackColor1;
      // box-shadow: 0rem 0 0.4rem 0rem red;
      box-shadow: 0rem 0 0.4rem 0rem $blackColor-1;

      .cover {
        width: 100%;
        height: auto;

        filter: none;
	      transition: filter $animationMiddleTime $animationFunction;

        &:hover {
          filter: grayscale(100%);
        }
      }

      .desc {
        width: calc(100% - (0.7rem * 2));
        padding: 0.7rem;
        display: grid;
        grid: auto / min-content 1fr;
        column-gap: 1rem;
        row-gap: 0.4rem;

        .title {
          font-weight: bold;
        }
        .body {
          color: $infoTextColor;
        }
      }
    }

  @include xl {
    grid: min-content min-content 1fr / 20rem 1fr 20rem;

    .critique {
      grid-row: 1;
      grid-column: 2;
    }


    .comments {
      z-index: 2;
      grid-row: -1 / 1;
      grid-column: 3;
      // box-shadow: 0rem 0 0.4rem 0rem red;
      box-shadow: 0rem 0 0.4rem 0rem $blackColor-1;
    }

    .translate-discussion {
      grid-row: 2;
      grid-column: 2;
    }
  }
}

// https://youtu.be/AvTH7J2shuI
</style>
