<template>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Read extends Vue {}
</script>

<style lang="scss" scoped>
</style>
