<template>
<div class="list">
  <slot></slot>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class List extends Vue {}
</script>

<style lang="scss" scoped>
</style>
