<template>
<div class="post">
	<div class="name">{{ author.name }}</div>
	<div class="nick">@{{ author.nick }}</div>
	<template v-if="spoiler">
		<post-spoiler :text="text" />
	</template>
	<template v-else>
		<div class="text">{{ text }}</div>
	</template>
	<div class="date">{{ timestamp }}</div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { fromUnixTime, format } from 'date-fns';
import { ru } from 'date-fns/locale';

import { IRawPost, IPost, IPostAuthor } from './post';
import PostSpoiler from './post-spoiler.vue';

@Component({ components: { 'post-spoiler': PostSpoiler}})
export default class Post extends Vue {
  private id        = 0;
  private author    = { id: 0, nick: '', name: '' };
  private text      = '';
  private spoiler   = false;
  private likes     = 0;
  private timestamp = '';

  @Prop({ type: Object, required: true })
  private post!: IRawPost;

  private async created() {
    this.id        = this.post.id;
    this.author    = this.post.author;
    this.text      = this.post.text;
    this.spoiler   = this.post.spoiler;
    this.likes     = this.post.likes;
    this.timestamp = format(fromUnixTime(this.post.timestamp), 'dd MMM yyyy', { locale: ru });
  }

  private async removeSpoiler() {
    this.spoiler = false;
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.post {
	grid-column: 1 / -1;

	display: grid;
	grid: min-content 1fr / min-content 1fr;
	gap: 0.4rem;
	padding: 0.7rem;

  color: $commentTextColor;

	border-left: 1px solid transparent;
	transition: border-left-color $animationLongTime $animationFunction;

	&:hover {
		border-left-color: $pink;
		transition: border-left-color $animationVeryShortTime $animationFunction;
	}

	.name {
		white-space: nowrap;
		font-weight: bold;
	}

	.nick,
	.date {
		font-size: 0.8rem;
		align-self: center;
	}

	.text {
		grid-column: 1 / -1;
    position: relative;

    color: $defaultTextColor;
	}
}
</style>
