<template>
<div
	class="text"
	@mouseover="showSpoiler = true"
	@mouseleave="showSpoiler = false"
	@click="removeSpoiler"
>
	<div class="spoiler-text" :class="{ 'unspoiler-text': unspoiler }">{{ text }}</div>
	<transition name="spoiler-show">
		<div
			class="spoiler"
			:class="{ 'unspoiler-spoiler': unspoiler }"
			key="spoiler-hide"
			v-if="false === showSpoiler"
		>
			{{ $t('comics.item.spoiler.text') }}
		</div>
		<div class="spoiler" :class="{ 'unspoiler-spoiler': unspoiler }" key="spoiler-show" v-else>
			{{ $t('comics.item.spoiler.show') }}
		</div>
	</transition>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PostSpoiler extends Vue {

  private showSpoiler = false;
  private unspoiler = false;

  @Prop({ type: String, required: true }) private text!: string;
  private async removeSpoiler() {
    if (this.unspoiler) { return; }

    this.unspoiler = true;

    setTimeout(() => {
      // @ts-ignore
      this.$parent.removeSpoiler();
    }, 1000);
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.text {
	cursor: pointer;
	user-select: none;

	.spoiler-text {
		filter: blur(0.3rem);
	}

	.spoiler {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: grid;
		grid: 1fr / 1fr;
		justify-items: center;
		align-items: center;

		color: rgba(230, 0, 115, 0.7);
		font-size: 1rem;
		font-weight: bolder;
	}

	.unspoiler-text {
		filter: none;
		user-select: text;
		cursor: auto;

		transition:
			filter $animationShortTime $animationFunction;
	}

	.unspoiler-spoiler {
		pointer-events: none;

		filter: blur(0.3rem);
		opacity: 0;

		transition:
			 filter $animationVeryShortTime $animationFunction,
			opacity $animationShortTime     $animationFunction;
	}

	.spoiler-show-enter-active { transition: opacity $animationVeryShortTime $animationFunction; }

	.spoiler-show-leave-active { transition: opacity $animationShortTime $animationFunction; }

	.spoiler-show-leave-to,
	.spoiler-show-enter { opacity: 0; }
}
</style>
