<template>
<div class="item">
	<div class="cover">
		<transition name="cover-loading">
			<div
				class="cover-image"
				:style="{ backgroundImage: 'url(' + coverImage + ')' }"
				key="cover"
				v-if="0 !== coverImage.length"
			/>
			<div class="cover-loader" key="cover-loader" v-else>
				<div class="spinner" />
			</div>
		</transition>
	</div>
  <div class="info">
    <div class="top">
      <div class="title" v-text="name" />
    </div>
    <div class="bottom">
      <div class="link-box">
	      <router-link class="link" :to="{ name: 'comicsItem', params: { id }}">{{ name }}</router-link>
      </div>
      <div class="buttons">buttons</div>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Item extends Vue {

  @Prop({ type: String, required: true }) public cover!: string;
  @Prop({ type: String, required: true }) public name!: string;
  @Prop({ type: Number, required: true }) public id!: number;

  private coverImage: string = '';

  private async created(): Promise<void> {
    const image = new Image();
    image.src = this.cover;
    image.onload = async () => { this.coverImage = image.src; };
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.item {
  position: relative;
  height: $comicsEntryHomeItemHeight;
  width: $comicsEntryHomeItemWidth;

	// &:hover {
	// 	.cover {
	// 		box-shadow: 0rem 0rem 0.4rem $pink;
	// 	}
	// }

	.cover {
		position: relative;

		width: 100%;
		height: 100%;

		display: grid;
		grid: 1fr / 1fr;
		align-items: center;
		justify-items: center;

		// box-shadow: 0rem 0rem 0.4rem transparent;
		// transition: box-shadow $animationLongTime $animationFunction;

		// &:hover {
		// 	transition: box-shadow $animationShortTime $animationFunction;
		// }
	}

	.cover-image {
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;

		width: inherit;
		height: inherit;
	}

	.cover-loader {
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		position: relative;
		width: 100%;

		&::after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}
	}

	// cover
	.cover-loading-enter-active {
		transition: opacity $animationLongTime $animationFunction;
	}

	// loading spin
	.cover-loading-leave-active {
		transition: opacity $animationShortTime $animationFunction;
	}

	.cover-loading-leave-to,
	.cover-loading-enter {
		opacity: 0;
	}

	@keyframes spin {
		0%   { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.spinner {
		display: inline-block;
		position: absolute;
		height: calc(100% - (0.24rem + 0.24rem));
		width: calc(100% - (0.24rem + 0.24rem));
		border: 0.24rem solid transparent;
		border-top-color: #F90E9F;
		border-radius: 50%;
		animation: spin 2s linear infinite;

		&:before, &:after {
			content: '';
			position: absolute;
			border: 0.24rem solid transparent;
			border-radius: 50%;
		}

		&:before {
			border-top-color: #FBE84A;
			top: calc(0.4rem + 0.4rem + 0.24rem);
			left: calc(0.4rem + 0.4rem + 0.24rem);
			right: calc(0.4rem + 0.4rem + 0.24rem);
			bottom: calc(0.4rem + 0.4rem + 0.24rem);
			animation: spin 3s linear infinite;
		}

		&:after {
			border-top-color: #0EEADF;
			top: 0.4rem;
			left: 0.4rem;
			right: 0.4rem;
			bottom: 0.4rem;
			animation: spin 800ms linear infinite;
			animation-direction: reverse;
		}
	}

	.info {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

		outline: none;
		text-decoration: none;

		font: 400 1rem 'Fira Sans Condensed';
		color: $defaultTextColor;

    .top,
    .bottom {
      display: grid;
      width: 100%;
      height: 100%;
			transition: transform $animationMiddleTime $animationFunction;
    }

    .top {
      .title {
        padding: .4rem;
        background-color: rgba(17, 17, 17, 0.9);
        align-self: end;
      }
    }

    .bottom {
      background: rgba(247, 247, 247, 0.90);
      grid: 1fr min-content / 1fr;
      .link-box {
        padding: .7rem;
        display: grid;
        grid: 1fr / 1fr;

        opacity: 0;
        transform: translateY(50%);
        transition:
          opacity   $animationLongTime $animationFunction,
          transform $animationLongTime $animationFunction;

        .link {
          color: #3c4a50;
          font-family: helvetica,arial,sans-serif;
          font-size: 1.8em;
          text-decoration: none;
          font-weight: bolder;
          text-align: left;
          align-self: center;

          &:hover {
            color: $pink;
          }
        }
      }
      .buttons {
        padding: .4rem;
      }
    }

		&:hover {
      .top,
      .bottom {
        transform: translateY(-100%);
        transition: transform $animationShortTime $animationFunction;
      }

      .bottom {
        .link-box {
          opacity: 1;
          transform: translateY(0);
          transition:
            opacity   $animationShortTime  $animationFunction $animationVeryShortTime,
            transform $animationMiddleTime $animationFunction $animationVeryShortTime;
        }
      }
    }
	}
}

// https://youtu.be/oZ_hW1E3q74
// https://youtu.be/wuoDA-v3h3M
</style>
