<template>
<section class="list-box">
	<div class="name" v-text="name" />
  <router-link
    class="more"
    :to="{ name: 'comicsMore', params: { link: link } }"
    v-text="$t('comics.entry.home.more')"
  />
	<div class="list" @mousedown="mouseDown" @mouseup="mouseUp" @mouseleave="mouseUp" @mousemove="mouseMove">
		<div class="loading" v-if="0 === items.length" v-text="'Loading...'" />
		<item v-for="item of items" :key="item.index" v-bind="item" v-else />
	</div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AxiosResponse } from 'axios';
import item from './item.vue';

interface Items {
  id: number;
  cover: string;
  name: string;
}

@Component({ components: { item } })
export default class List extends Vue {
  @Prop({ type: String, required: true }) public name!: string;
  @Prop({ type: String, required: true }) public link!: string;

  private items: Items[] = [];
  private scrolling: boolean = false;
  private curScrollX: number = 0;
  private curXPos: number = 0;
  private listScrollElement!: HTMLDivElement;

  private async mounted(): Promise<void> {
    this.listScrollElement = this.$el.querySelector('.list') as HTMLDivElement;
  }

  private async created(): Promise<void> {
    this.axios.get<Items[]>(this.link).then (async ({ data }) => {
      this.items = data;
    }).catch();
  }

  private mouseMove(e: MouseEvent) {
    if (true === this.scrolling) {
      this.listScrollElement.scrollLeft = this.curScrollX + this.curXPos - e.clientX;
    }
  }

  private mouseDown(e: MouseEvent) {
    if (false === this.scrolling) {
      this.listScrollElement.classList.add('list-box-move');
      this.scrolling = true;
      this.curScrollX = this.listScrollElement.scrollLeft;
      this.curXPos = e.clientX;
    }
  }

  private mouseUp(e: MouseEvent) {
    if (true === this.scrolling) {
      this.listScrollElement.classList.remove('list-box-move');
      this.scrolling = false;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.list-box-move {
  user-select: none;
  cursor: move;
  // pointer-events: none;
}
.list-box {
	display: grid;
	grid: auto auto / 1fr auto;
	align-items: center;

	gap: 0.7rem;
  padding: 0 0.7rem;
  overflow: hidden;

	.name {
		text-align: left;
		font: 400 2rem 'Fira Sans Condensed';
  }

  .more {
    outline: none;
    user-select: none;
    text-decoration: none;

    font-family: 'Fira Sans Condensed';
    color: $defaultTextColor;

    opacity: 0.7;
    transition:
      text-shadow $animationLongTime $animationFunction,
      opacity $animationShortTime $animationFunction;

    &:hover {
      opacity: 1;
      text-shadow: 0rem 0rem 0.4rem $pink;
      transition:
        text-shadow $animationShortTime $animationFunction,
        opacity $animationShortTime $animationFunction;
    }
  }

	.list {
    grid-column: 1 / -1;
    scrollbar-width: none;

    width: calc(100%);
		display: grid;
		grid: 1fr / repeat(auto-fit, $comicsEntryHomeItemWidth);
		justify-content: start;
    grid-auto-flow: column;
    overflow: auto;
    // gap: 0.7rem;
    gap: 0.2rem;

    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

		.loading {
      text-align: center;
			width: 100%;
		}
	}
}
</style>
