<template>
<section class="results">
	<div class="list">
		<div class="loading" v-if="0 === results.length">Loading...</div>
		<item v-for="item of results" :key="item.id" v-bind="item" v-else />
	</div>
  <div class="more" @click="load">{{ $t('comics.entry.more.more') }}</div>
</section>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { IListRespone } from '@/components/comics/entry/list';

import item from '@/components/comics/entry/home/item.vue';

@Component({ components: { item }})
export default class List extends Vue {

  @Prop({ type: Array, required: true })
  private results!: IListRespone[];

  private load() {
    // @ts-ignore
    this.$parent.load();
  }
}
</script>


<style lang="scss" scoped>
@import '@/shared/common.scss';

.results {
	display: grid;
	grid: min-content min-content / 1fr;
	gap: 0.7rem;
	padding: 0 0.7rem;

	.name {
		text-align: left;
		font: 400 2rem 'Fira Sans Condensed';
  }

  .more {
    justify-self: center;
    cursor: pointer;

    font-family: 'Fira Sans Condensed';
    color: $defaultTextColor;

    opacity: 0.7;
    transition:
      text-shadow $animationLongTime $animationFunction,
      opacity $animationShortTime $animationFunction;

    &:hover {
      opacity: 1;
      text-shadow: 0rem 0rem 0.4rem $pink;
      transition:
        text-shadow $animationShortTime $animationFunction,
        opacity $animationShortTime $animationFunction;
    }
  }

	.list {
		display: grid;
		grid: min-content / repeat(auto-fit, $comicsEntryHomeItemWidth);
		justify-content: center;
		gap: 1rem;

		.loading {
      text-align: center;
			width: 100%;
		}
	}
}
</style>
