<template>
<aside class="search-settings">
	<section class="genres">
		<div
			v-for="genreId of genreIds"
			:key="genreId"
			:class="[ 'genre', genreStyle(genreId) ]"
			@click="genreToggle(genreId)"
		>
			{{ $t('comics.entry.genres.list.' + genreId) }}
		</div>
	</section>
</aside>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import { genreIds } from '@/shared/genreIds';
import { Route } from 'vue-router';

enum GenreStatus {
  None,
  Requred,
  Ignored,
}

@Component
export default class SearchSettings extends Vue {

  private genreStyles = [ 'genreNotUsed', 'genreRequired', 'genreIgnored' ];

  private genreIds: number[] = genreIds;
  private genresUsed: number[] = [];

  private async created() {
    const requiredGenres = new Set<number>(
      JSON.parse(this.$route.query.requiredGenres as string || '[]') as number[]);

    const ignoredGenres = new Set<number>(
      JSON.parse(this.$route.query.ignoredGenres as string || '[]') as number[]);

    for (const genreId of genreIds) {
      if (requiredGenres.has(genreId)) {
        this.genresUsed[genreId] = GenreStatus.Requred;
      } else if (ignoredGenres.has(genreId)) {
        this.genresUsed[genreId] = GenreStatus.Ignored;
      } else {
        this.genresUsed[genreId] = GenreStatus.None;
      }
    }
  }

  @Watch('$route')
  private async OnBack(newRoute: Route, oldRoute: Route) {
    if ('comicsHome' === newRoute.name) {
      this.genresUsed.forEach((status: GenreStatus, id: number) => {
        if (GenreStatus.None !== status) {
          this.$set(this.genresUsed, id, GenreStatus.None);
        }
      });
    }
  }

  private genreStyle(genreId: number) {
    return this.genreStyles[this.genresUsed[genreId]];
  }

  private async genreToggle(genreId: number) {
    let genreUsed = ++this.genresUsed[genreId];

    if (GenreStatus.Requred === genreUsed) {
      // @ts-ignore
      this.$parent.OnAddRequiredGenre(genreId);
    } else if (GenreStatus.Ignored === genreUsed) {
      // @ts-ignore
      this.$parent.OnAddIgnoredGenre(genreId);
    } else {
      // @ts-ignore
      this.$parent.OnRemovedGenre(genreId);

      genreUsed = GenreStatus.None;
    }

    this.$set(this.genresUsed, genreId, genreUsed);
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.search-settings {
	// background-color: $blackColor-1;
  background-color: $blackColor1;
	padding: 0.5rem 0.2rem;
	align-self: start;

	.genres {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -0.5rem;

		.genreRequired {
			opacity: 1;
			text-shadow: 0rem 0rem 0.7rem $defaultTextColor;

			&:hover {
				opacity: 1;
				text-shadow:
					0rem 0rem 0.7rem $defaultTextColor,
					0rem 0rem 0.4rem $pink;
			}
		}

		.genreIgnored {
			opacity: 0.25;
			color: $pink;
			position: relative;

			&:hover {
				opacity: 0.5;
			}

			@keyframes strike {
				0%   { width : 0; }
				100% { width: 100%; }
			}

			&:after {
				content: ' ';
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background: $pink;
				animation-name: strike;
				animation-duration: $animationLongTime;
				animation-timing-function: $animationFunction;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
		}

		.genreNotUsed {
			opacity: 0.7;

			&:hover {
				opacity: 1;
				text-shadow: 0rem 0rem 0.4rem $pink;
			}
		}

		.genre {
			padding: 0.2rem 0.5rem;
			margin: 0 0.5rem 0.5rem 0;
			border-radius: 0.7rem;

			// font: 400 1rem 'Ubuntu Condensed';
			font: 400 1rem 'Fira Sans Condensed';

			cursor: pointer;
			user-select: none;

			border: 1px solid transparent;
			transition:
				text-shadow $animationLongTime $animationFunction,
				opacity $animationShortTime $animationFunction;

			&:hover {
				transition:
					text-shadow $animationShortTime $animationFunction,
					opacity $animationShortTime $animationFunction;
			}
		}
	}
}
</style>
