
// затемнение на тон
@function darker($color, $tone) {
  $adjust: -16 * $tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

// осветление на тон
@function lighter($color, $tone) {
  $adjust: 16 * $tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

$defaultTextColor: lighter(#b2b2b2, 2);
// $defaultTextColor: darker(#d6dadd, 0);
$commentTextColor: darker(#d6dadd, 7);
$infoTextColor: darker(#d6dadd, 2);

$comicsSearchBorderColor: darker(#d6dadd, 5);

// comics/entry/home
$comicsEntryHomeItemHeight: 19rem;
$comicsEntryHomeItemWidth: 15rem;

// animations
$animationVeryShortTime :  .11s;
$animationShortTime     :  .33s;
$animationMiddleTime    :  .77s;
$animationLongTime      : 1.33s;
$animationFunction      : cubic-bezier(0.165, 0.84, 0.44, 1);

// Colors
$pink: rgb(230, 0, 115);

$blackColor-1: #111111;
$blackColor0: #141414;
$blackColor1: #171717;
$blackColor2: #1B1B1B;
$blackColor3: #1E1E1E;
$blackColor4: #212121;
$blackColor5: #242424;
$blackColor6: #282828;
$blackColor7: #2B2B2B;
$blackColor8: #2E2E2E;
$blackColor9: #313131;
$blackColor10: #353535;
$blackColor11: #383838;


@import '@/shared/media-queries.scss';
