<template>
<div id="app">
  <header class="header">
    <router-link to="/">Home</router-link>
    <router-link to="/comics">{{ $t('header.comics') }}</router-link>
    <router-link to="/about">About</router-link>
    <router-link class="user" to="/about">+Вы</router-link>
  </header>
  <router-view class="content" />
  <footer>Change language</footer>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {}
</script>

<style lang="scss">
@import '@/shared/common.scss';

#app {
  min-height: 100vh;
  overflow-x: hidden;

  display: grid;
  grid: auto 1fr auto / 1fr;

  .header {
    background-color: $blackColor2;
    padding: 0.7rem;

		// box-shadow: 0rem 0rem 0.4rem 0rem red;
		box-shadow: 0rem 0rem 0.4rem 0rem $blackColor-1;

    display: grid;
    grid: 1fr / min-content min-content min-content auto;
    gap: 1rem;
    z-index: 3;

    a {
      outline: none;
      user-select: none;
      text-decoration: none;

			font: 400 1rem 'Ubuntu Condensed';
      color: $defaultTextColor;

      opacity: 0.7;
      transition:
        text-shadow $animationLongTime $animationFunction,
        opacity $animationShortTime $animationFunction;

      &:hover {
        opacity: 1;
        text-shadow: 0rem 0rem 0.4rem $pink;
        transition:
          text-shadow $animationShortTime $animationFunction,
          opacity $animationShortTime $animationFunction;
      }

      &.router-link-exact-active {
        cursor: default;

				opacity: 1;
				text-shadow: 0rem 0rem 0.7rem $defaultTextColor;
      }
    }

    .user {
      justify-self: end;
    }
  }

  // .content {}

  .footer {
    z-index: 2;
  }
}

// https://youtu.be/ZHuf6YpzzwU
</style>
