<template>
<article class="home">
	<list :name="$t('comics.entry.home.recentAdditional')" link="comics/home/recent" />
	<!-- <list :name="$t('comics.entry.home.mostPopular')" /> -->
	<list :name="$t('comics.entry.home.lastUpdates')" link="comics/home/last" />
</article>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import list from '@/components/comics/entry/home/list.vue';

@Component({ components: { list } })
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.home {
	display: grid;
	grid: auto / 1fr;
	gap: 2rem;
	align-content: start;
}
</style>
