<template>
  <list :results="results" />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import list from '@/components/comics/entry/list.vue';
import item from '@/components/comics/entry/home/item.vue';

interface ISearchRespone {
  id: number;
  cover: string;
  name: string;
}

@Component({ components: { list }})
export default class More extends Vue {

  private results: ISearchRespone[] = [];
  private offset: number = 0;

  private async created() {
    this.load();
  }

  private async load() {
    this.$http.get<ISearchRespone[]>(
      this.$route.params.link,
      { params: { offset: this.offset, limit: 25 } })
    .then(({ data: info }) => {
      this.results = [ ...this.results, ...info ];
      this.offset += 25;
    });
  }
}
</script>
