<template>
  <list :results="results" />
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';

import { IListRespone } from '@/components/comics/entry/list';

import list from '@/components/comics/entry/list.vue';

@Component({ components: { list }})
export default class Search extends Vue {

  private results: IListRespone[] = [];

  private requiredGenres = new Set<number>();
  private ignoredGenres = new Set<number>();

  private offset: number = 0;

  private userResultsPerLoad: number = 0;

  private async created() {
    this.search();
  }

  private async load() {
    this.$http.get<IListRespone[]>('comics/search', { params: {
      offset: this.offset,
      limit: this.userResultsPerLoad,
    }}).then(({ data: info }) => {
      this.results = [ ...this.results, ...info ];
      this.offset += this.userResultsPerLoad;
    });
  }

  private async search() {
    this.results = [];

    this.requiredGenres = new Set<number>(
      JSON.parse(this.$route.query.requiredGenres as string || '[]') as number[]);

    this.ignoredGenres = new Set<number>(
      JSON.parse(this.$route.query.ignoredGenres as string || '[]') as number[]);

    this.$http.get<IListRespone[]>('comics/search',  { params: {
      offset: (this.offset = 0),
      limit: this.userResultsPerLoad,
    }}).then(({ data: info }) => {
      this.results = info;
      this.offset += this.userResultsPerLoad;
    });
  }

  @Watch('$route')
  private async OnQueryChange(newRoute: Route, oldRoute: Route) {
    this.search();
  }
}
</script>


<style lang="scss" scoped>
@import '@/shared/common.scss';

.results {
	display: grid;
	grid: min-content min-content / 1fr;
	gap: 0.7rem;
	padding: 0 0.7rem;

	.name {
		text-align: left;
		font: 400 2rem 'Fira Sans Condensed';
  }

  .more {
    justify-self: center;
    cursor: pointer;

    font-family: 'Fira Sans Condensed';
    color: $defaultTextColor;

    opacity: 0.7;
    transition:
      text-shadow $animationLongTime $animationFunction,
      opacity $animationShortTime $animationFunction;

    &:hover {
      opacity: 1;
      text-shadow: 0rem 0rem 0.4rem $pink;
      transition:
        text-shadow $animationShortTime $animationFunction,
        opacity $animationShortTime $animationFunction;
    }
  }

	.list {
		display: grid;
		grid: min-content / repeat(auto-fit, $comicsEntryHomeItemWidth);
		justify-content: center;
		gap: 1rem;

		.loading {
      text-align: center;
			width: 100%;
		}
	}
}
</style>
