<template>
  <div>
    <div class="title-wrapper">
      <div class="title">
        {{ title }}
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HidingBox extends Vue {
  @Prop({ type: String }) private title!: string;
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.title-wrapper {
  display: grid;
  grid: 1fr / 1fr;

  overflow: hidden;
  padding: 0.6rem 0;
  margin: -0.6rem 0;

  .title {
    color: $defaultTextColor;
    background-color: $blackColor1;

    font-weight: bold;
    font-size: 1.4rem;

    padding: 0.7rem;
    // box-shadow: 0rem 0rem 0.4rem 0rem red;
    box-shadow: 0rem 0rem 0.4rem 0rem $blackColor-1;
  }
}
</style>
