<template>
<app />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import App from './components/app.vue';

@Component({ components: { App }})
export default class Main extends Vue {}
</script>

<style lang="scss">
@import '@/shared/common.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400&display=swap&subset=cyrillic');

html body {
  background-color: #141414;
  min-height: 100vh;
  overflow-x: hidden;
  font: 400 16px 'Ubuntu Condensed';
  color: $defaultTextColor;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}
// https://youtu.be/ZHuf6YpzzwU
</style>
